<div id="index-container" class="row fluid">
	<div class="span4 left-col">
		<div id="challenges-sidebar"></div>
	</div>
	<div class="span8 right-col">
    <div id="toolbar-container"></div>
		<div id="challenges-container"></div>
	</div>
</div>

