<div class="container-fluid">
	<a class="brand" href="#">CTF Admin</a>
	<div class="nav-collapse collapse">
		<ul class="nav">
			<li class="active">
				<a href="#">Challenges</a>
			</li>
			<li>
				<a href="#">Players</a>
			</li>
			<li>
				<a href="#">Settings</a>
			</li>
		</ul>
	</div>
</div>

