<div class="container-fluid">
	<a class="brand" href="#">CTF Admin</a>
	<div class="nav-collapse collapse">
		<ul class="nav">
			<li class="active">
				<a href="#" data-location="challenges">Challenges</a>
			</li>
			<li>
				<a href="#" data-location="players">Players</a>
			</li>
			<li>
				<a href="#" data-location="settings">Settings</a>
			</li>
		</ul>
	</div>
</div>

