<form>
	<fieldset>

		<legend>New Challenge</legend>

		<label for="challenge-name">Name</label>
		<input type="text" id="challenge-name">

		<label for="challenge-points">Points</label>
		<input type="text" id="challenge-points">

		<label for="challenge-target">Target</label>
		<input type="text" id="challenge-target">

		<label for="challenge-desc">Description</label>
		<textarea id="challenge-desc"></textarea>

		<label for="challenge-flag">Flag</label>
		<input type="text" id="challenge-flag">

		<label for="challenge-status" class="checkbox">
			<input type="checkbox" id="challenge-status"> Locked
		</label>

		<button class="btn btn-primary btn-block">Create</button>

	</fieldset>
</form>