<div class="toolbar-btn" data-action="lock"><i class="icon-lock"></i>&nbsp;</div><div class="toolbar-btn" data-action="unlock"><i class="icon-unlock"></i>&nbsp;</div><div class="toolbar-btn" data-action="remove"><i class="icon-trash"></i>&nbsp;</div>
